on: push
name: Install and Test
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: actions/setup-node@main
      - run: yarn
      - run: npx npm-install-peers
      - run: yarn test
